go 1.26.0

use (
	./packages/core/go
	./packages/plugins/commonmark/go
	./packages/plugins/traq/go
	./packages/sdk/examples/go
	./packages/sdk/go
)

replace github.com/traPtitech/traq-flavored-markdown/packages/core/go v0.1.6 => ./packages/core/go

replace github.com/traPtitech/traq-flavored-markdown/packages/plugins/commonmark/go v0.1.6 => ./packages/plugins/commonmark/go

replace github.com/traPtitech/traq-flavored-markdown/packages/plugins/traq/go v0.1.6 => ./packages/plugins/traq/go

replace github.com/traPtitech/traq-flavored-markdown/packages/sdk/go v0.1.6 => ./packages/sdk/go
