go 1.26.0

use (
	./packages/core/go
	./packages/plugins/commonmark/go
	./packages/plugins/traq/go
	./packages/sdk/examples/go
	./packages/sdk/go
)

replace github.com/uni-kakurenbo/traq-markdown-engine/packages/core/go v0.1.4 => ./packages/core/go

replace github.com/uni-kakurenbo/traq-markdown-engine/packages/plugins/commonmark/go v0.1.4 => ./packages/plugins/commonmark/go

replace github.com/uni-kakurenbo/traq-markdown-engine/packages/plugins/traq/go v0.1.4 => ./packages/plugins/traq/go

replace github.com/uni-kakurenbo/traq-markdown-engine/packages/sdk/go v0.1.4 => ./packages/sdk/go
